<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>success</title>
</head>
<body class="main">
    <h1 class="title">初始化完成！</h1>
</body>
<script>

    var i=10;
    window.setInterval(function () {
        i--;
        if(i===0)
            location.href="/"
    },1)
</script>
<style>
    body{
        margin: 0;
        padding: 0;
        background-color: rgb(50, 50, 50);
    }

    body,html{
        height: 100%;
    }

    .main{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title{
        color: white;
        font-size: 40px;
        letter-spacing: 4px;
    }
</style>
</html>